$lightGray:#f4f4f4;
$mediumGray: #cccccc;
$darkGray:#333333;

*{
    margin:0;
    padding:0;
}

body{
    font-family: arial-black, arial;
    font-size: 15px;
    line-height: 1.5em;
    background:url('https://i.imgur.com/ej2IILK.jpg');
    background-repeat: repeat;
}

#container{
    background-color:$darkGray;
    margin:50px auto;
    overflow:auto;
    width:60%;
    min-height:600px;
}

header h1{
    color:white;
    font-size: 22px;
    padding:15px 0 10px 10px;
    border-bottom: 1px solid white;
}

#shouts{
    width:90%;
    background-color: $lightGray;
    height:400px;
    margin: 20px auto;
    overflow:auto;
}

.shout{
    list-style: none;
    padding:8px;
    border-bottom: 1px dotted $mediumGray;
}

.shout span{
    font-size:12px;
    color:$mediumGray;
}

.input_wrap{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#input{
   width:90%;
   min-height: 80px; 
   margin:auto;
   padding: 0;
}

#input input[type='text']{
    height:25px;
    width:48%;
    padding:3px;
    margin-bottom:20px;
    border:1px solid $darkGray;
}

#input .shout_btn{
    padding:5px;
    margin-bottom: 30px;
    width:100%;
    margin: 10px auto;
}

@media only screen and (max-width:768px){
    
    .input_wrap{
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    #input input[type='text']{
        width:98%;
    }
}