$lightGray:#f4f4f4;
$mediumGray: #cccccc;
$darkGray:#1f1f1f;
$dred:#AB1813;

*{
    margin:0;
    padding:0;
}

body{
    font-family: arial-black, arial;
    font-size: 15px;
    line-height: 1.5em;
    background:url('https://i.imgur.com/ej2IILK.jpg');
    background-repeat: repeat;
}

#container{
    background-color:$darkGray;
    margin:50px auto;
    overflow:auto;
    width:60%;
    min-height:600px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
}

header{
    border-top-right-radius: 40px;
    background-color: #ab1813;
}

header h1{
    color:white;
    font-size: 22px;
    padding:15px 0 10px 10px;
    border-bottom: 1px solid white;
}

#shouts{
    width:90%;
    background-color: $lightGray;
    height:400px;
    margin: 20px auto;
    overflow:auto;
}

.shout{
    list-style: none;
    padding:8px;
    border-bottom: 1px dotted $mediumGray;
}

.size1{
    font-size:40px;
  }
  
  .size2{
    font-size:35px;
  }
  
  .size3{
    font-size:30px;
  }
  
  .size4{
    font-size:25px;
  }
  
  .size5{
    font-size:20px;
  }
  
  .size6{
    font-size:15px;
  }

  .isred{
      color:$dred;
  }

  .isblack{
      color:$darkGray;
  }

#isredid, #isblackid{
    display:none;
}

#redlabel, #blacklabel{
    display:inline-block;
    width:200px;
    padding:6px 10px 6px 10px;
    border-radius: 4px;
    position: relative;
}

#redlabel_check{
    height:15px;
    width:15px;
    background-color:$dred;
    position: absolute;
    top:50%;
    right:10px;
    transform: translate(0, -50%);
    border: 3px solid rgba(255,255,255,0.4);
    border-radius: 50%;
    transition: border 0.2s ease;
}

#redlabel:hover #redlabel_check{
    border: 3px solid rgba(255,255,255,1);
}

#redlabel:hover #angry{
    top:50%;
}

#isblackid:checked+#redlabel #angry{
    top:50%;
}

#blacklabel:hover #zen{
    top:50%
}

#isredid:checked+#blacklabel #zen{
    top:50%;
}

#blacklabel_check{
    height:15px;
    width:15px;
    background-color:$lightGray;
    position: absolute;
    top:50%;
    right:10px;
    transform: translate(0, -50%);
    border: 3px solid rgba(31,31,31,0.4);
    border-radius: 50%;
    transition: border 0.2s ease, background-color 0.2s ease;
}

#blacklabel:hover #blacklabel_check{
    border: 3px solid rgba(31,31,31,1);
}

#redlabel{
    background-color: $dred;
    color:white;
}

#blacklabel{
    background-color: $lightGray;
    color: $darkGray;
}

#redlabel, #blacklabel{
    position:relative;
    overflow: hidden;
}

#isredid:checked+#blacklabel div{
    background-color: rgba(31,31,31,1);
}

#isblackid:checked+#redlabel div{
    background-color: rgba(255,255,255,1);
}

#angry{
    max-width:70px;
    position: absolute;
    top:-50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: top 0.3s ease;
}

#zen{
    max-width:30px;
    position: absolute;
    top:-50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: top 0.3s ease;
}

.shout span{
    font-size:12px;
    color:$mediumGray;
}

.input_wrap{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#input{
   width:90%;
   min-height: 80px; 
   margin:auto;
   padding: 0;
}

#input input[type='text']{
    height:25px;
    width:48%;
    padding:3px;
    margin-bottom:20px;
    border:1px solid $darkGray;
}

#input .shout_btn{
    padding:5px;
    margin-bottom: 30px;
    width:100%;
    margin: 10px auto;
    font-family: arial black, arial;
    color:$darkGray;
}

@media only screen and (max-width:768px){
    
    .input_wrap{
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    #input input[type='text']{
        width:98%;
    }
}